RewriteEngine On
RewriteBase /

# Redirect semua permintaan selain file/folder nyata ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
